.header {
	height: 450px;
	width: 100%;
	background: rgb(62,57,107);
	position: relative;
}

.header_texture {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	background: url('../images/banniere.png') center no-repeat;
	background-size: cover;
	z-index: 1;
	opacity: 0.5;
}

.header_texture2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	background: url('../images/41.jpg') center no-repeat;
	background-size: cover;
	z-index: 1;
	opacity: 0.5;
}

.header_texture3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	background: url('../images/40.jpg') center no-repeat;
	background-size: cover;
	z-index: 1;
	opacity: 0.5;
}

.header_navbar {
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header_mask {
	position: absolute;
	bottom: 0;
	background: 0 0;
	height: 52px;
	width: 100%;
	z-index: 10;
}

.header_navbar--logo-title {
	color: #fff;
	font-size: 28px;
	margin-left: 60px;
}

.header_navbar--logo-profile {
	float: left;
	/*margin-right: 20px;*/
	margin-top: 15px;
}

.header_navbar--logo-profile:hover {
	transition: 0.5s linear;
	transform: scale(1.1);
	cursor: pointer;
}

.header_navbar--menu-link {
	margin-left: 40px;
	color: #fff;
	text-decoration: none;
}

.header_navbar--menu > a:before {
  content: "";
  position: absolute;
  /*width: 8%;*/
  width: 85px;
  height: 3px;
  top: 60px;
  /*bottom: 0;
  left: 0;*/
  background: #E9421E ;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}

.header_navbar--menu > a:hover:before,
.header_navbar--menu > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.header_slogan { text-align: center; }

.header_slogan--title {
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	font: 'serif';
	font-style: italic;
}

.header_slogan--btn {
	color: #fff;
	text-decoration: none;
	padding: 15px 20px;
	background: #007AAE;
	border-radius: 5px;
	transition: 0.7s;
}

.header_slogan--btn:hover {
	color: #bbb;
	background: #118BBF;
}

.header_navbar--toggle {
	width: 40px;
	height: 60px;
	display: flex;
	align-items: center;
	display: none;
	cursor: pointer;                
}

.header_navbar--toggle-icons, .header_navbar--toggle-icons:before, .header_navbar--toggle-icons:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background: #fff;
	position: relative;
}

.header_navbar--toggle-icons:before { top: 10px; }
.header_navbar--toggle-icons:after { top: -14px; }

.is-open .header_navbar--menu { transform: translateY(0); }

@media only screen and (max-width: 810px) {
	.container {
		width: 100%;
		padding: 0 30px;
	}
	.header_navbar--toggle {
		display: flex;
		/*z-index: 1000;*/
	}
	.header_navbar--menu {
		transition: all 0.3s ease-in-out;
		transform: translateY(-100%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 50vh;
		background: #CB712F;
		top: 0; left: 0;
	}
	.header_navbar--menu-link {
		padding: 20px;
	}
	.header_navbar--menu-link:hover {
		background-color: #333;
		color: #bbb;
		width: 100%;
		text-align: center;
	}
	.header_navbar--menu > a:before { background: none; }
	.header_navbar--menu-link {
		margin: 0px;
		font-size: 24px;
	}
}

@media only screen and (max-width: 450px) {
	.header_navbar--logo-title { display: none; }
}
